RewriteEngine On
Redirect 301 /listings https://www.benpotter.co.nz/current-listings/
Redirect 301 /listings/ https://www.benpotter.co.nz/current-listings/
Redirect 301 /styleguide https://www.benpotter.co.nz/
Redirect 301 /styleguide/ https://www.benpotter.co.nz/
